[build]
  command = "npm run build"
  publish = "dist/PCY-WEBDOC/browser"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true

[[plugins]]
  package = "@netlify/angular-runtime"
